@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bree+Serif|Playfair+Display&display=swap');

/*
font-family: 'Bree Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Amatic SC', cursive;
*/

body {
  height: auto;
  background-color: #8db1ab;
}

/* CONTACT PAGE */
/* TypeWriter Machine Effect */
.twContainer {
  margin: 80px auto 20px;
  display: flex;
  justify-content: center;
}

.twEffect .twText {
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .12em solid #363636;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .30em;
  /* Adjust as needed */
  animation:
    typing 2s steps(11, end),
    /* 11 = Number of letters */
    blink-caret .3s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }

  35% {
    border-color: #363636
  }
}
